
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:25px">
    <div class="row">
        <div class="col-md-6 ">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Güncel Kurlar</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group" id="currencylist">


                                


                            </ul>
                        </div>

                    </div>

                </div>
               
            </div>


        </div>
        <div class="col-md-6 py-5">
            <input type="button" value="Verileri Güncelle" class="btn btn-primary float-left" id="getcurrency" />

        </div>


    </div>
</div>
@section scripts {
    <script src="~/jquery/jquery.js"></script>

    <script>

        function LoadCurrency() {
            var ul = $("#currencylist");

                $.ajax({
                    method: "GET",
                    url: "https://localhost:44397/api/GetLastCurrencies"
                }).done(function (response) {
                    ul.empty();
                                        //console.log(response);

                    $.each(response, function (index, val) {
                        var li = "<li class='list-group-item'>" + "Unit: " + val.unit + "<br/>" + " Name: " + val.name + "<br/>" +
                            " Currency Code: " + val.currencyCode + "<br/>" + " BanknoteSelling "
                            + val.banknoteSelling + "<br/>" + " BankNoteBuying: " + val.bankNoteBuying + "<br/>" +
                            " ForexSelling: " + val.forexSelling + "<br/>" + "ForexBuying:"
                            + val.forexBuying + "<br/>" + " CrossRateUsd: " + val.crossRateUsd + "</li>"
                        ul.append(li);
                    })
                  


                }).fail(function () {
                    alert("Hata oluştu")
                });
         
        }
        function reLoadPage() {
        $("#getcurrency").click(function () {

            window.location.reload();
        });
        }

        $(function () {
            LoadCurrency();
            reLoadPage();
        });
    </script>




    @*<script>
            $(document).ready(function () {
                var ul = $("#currencylist");
                $("#getcurrency").click(function () {
                    $.ajax({
                        method: "GET",
                        url: "https://localhost:44307/api/get",
                        success: function (data) {

                            ul.empty();
                            $.each(data, function (index, val) {
                                //var li = "<li class='list-group-item'>" + "Unit: " + val.Unit + "<br/>" + " Name: " + val.Name + "<br/>" + " Currency Code: " + val.CurrencyCode + "<br/>" + " BanknoteSelling " + val.BanknoteSelling + + "<br/>" + " BankNoteBuying: " + val.BankNoteBuying + "<br/>" + " ForexSelling: " + val.ForexSelling + "<br/>" + " CrossRateUsd: " + val.CrossRateUsd + "</li>"
                                ul.append(li);
                            })
                        },
                        error: function (data) {
                            console.log(data);
                        },
                    });

                });
            });
        </script>*@
}
